@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {

  .parent:has(.child:focus) {
    @apply border-gray-300 rounded-3xl
  }
  .socrollabar::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  .socrollabar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .socrollabar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
  }

  /* Handle on hover */
  .socrollabar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  /** hidden scroll */

  .socrollabar-hidden::-webkit-scrollbar {
    width: 0;
  }

  /* Track */
  .socrollabar-hidden::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .socrollabar-hidden::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
  }

  /* Handle on hover */
  .socrollabar-hidden::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  
}
